/* Page background */
.login-container {
  min-height: 100vh;
  background-image:url('https://img.freepik.com/premium-vector/banking-service-background_127544-1086.jpg?w=1060');
  background: linear-gradient(135deg, #020617, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Login card */
.login-card {
  width: 380px;
  background: #020617;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 0 35px rgba(56, 189, 248, 0.25);
  text-align: center;
  color: #e5e7eb;
}

/* Title */
.login-card h2 {
  margin-bottom: 10px;
  color: #38bdf8;
  font-size: 26px;
}

/* Subtitle */
.login-subtitle {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 25px;
}

/* Input fields */
.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  background: #020617;
  color: #e5e7eb;
  font-size: 14px;
}

.login-card input::placeholder {
  color: #64748b;
}

.login-card input:focus {
  outline: none;
  border-color: #38bdf8;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(90deg, #2563eb, #22d3ee);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(34, 211, 238, 0.35);
}

/* Footer text */
.login-footer {
  margin-top: 20px;
  font-size: 12px;
  color: #94a3b8;
}
